__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

build/
dist/
dist-release/
*.spec
*.zip

*.db
*.db-journal
*.sqlite
*.sqlite3
.env
.env.*

.coverage
.pytest_cache/
.mypy_cache/
.idea/
.vscode/
Thumbs.db
.DS_Store
